# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.egg-info/
*.eggs
*.DS_Store
/.vscode/*
timer.dat
tmp/*

/build/
/dist/
/documentation/build/
/src/qrisp.egg-info/
.idea
/docuenv/
/eccvenv/
/python311venv/
/multiverseenv/
/notebooks/