# Install the local package so autodoc/autosummary can import qrisp.
-e ..

# sphinx_toolbox.sidebar_links is not compatible with Sphinx 9 yet.
sphinx>=7,<9
sphinx-toolbox>=3.5.0
nbsphinx
ipykernel
stim
myst-parser
texext
numpydoc
sphinx-sitemap
sphinx-copybutton
sphinx-design
sphinx-thebe
sphinx-new-tab-link
pydata-sphinx-theme
